body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5EDF6;
    font-family: "Ubuntu", sans-serif;
}

.card {
    width: 40%;
    padding: 25px;
    border-radius: 15px;
    background-color: white;
}

input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    border-radius: 10px;
    border: 2px solid #A8A8A8;
    box-sizing: border-box;
    margin-bottom: 25px;
}

input[type=password]:hover {
    border: 2px solid #F5EDF6;
    /* outline: 2px solid #7F3687; */
}

input[type=password]:focus {
    border: 2px solid #F5EDF6;
    outline: 2px solid #7F3687;
}

input[type=submit] {
    width: 100%;
    background-color: #7F3687;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
}

input[type=submit]:hover {
    background-color: #5a2660;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-weight: bold;
}

.default {
    color: #A8A8A8;
    font-size: 12px;
    text-align: center;
}

.success {
    color: green;
    font-size: 12px;
    text-align: center;
}

.error {
    color: red;
    font-size: 12px;
    text-align: center;
}